{% extends "how/article.html" %}
{% set bool_var = True %}
{% block plus %}
    <div class="upload">
        <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
            <input type="file" name="article">
            <input type="submit" value="Upload Code">
        </form>
    </div>
    <script>
        $(function() {
            $('form.upload-image').submit(function(e) {
                e.preventDefault();
                $form = $(e.target);
                var file = $form.find('.file'); //.files[0];
                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: new FormData($form[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function() {
                        window.location.reload();
                    },
                    statusCode: {
                        500: function() {
                            alert("choose a file please");
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}