<div nr="" class="conversation-body__entry">
   <div nr="" class="conversation-entry-user">
      <div nr="" class="conversation-entry-user__align">
         <div nr="" class="conversation-entry-user__row">
            <div nr="" class="conversation-entry-user__message">yes</div>
            <div nr="" class="conversation-entry-user__profile">
               <i nr="" class="conversation-entry-user__avatar"></i>
            </div>
         </div>
      </div>
   </div>
</div>
<div nr="" class="conversation-body__entry">
   <div nr="" class="conversation-entry-bot">
      <div nr="" class="conversation-entry-bot__align">
         <div nr="" class="conversation-entry-bot__container">
            <div nr="" class="conversation-entry-bot__row">
               <div nr="" class="conversation-entry-bot__profile">
                  <i nr="" class="conversation-entry-bot__avatar"></i>
               </div>
               <div nr="" class="conversation-entry-bot__content">
                  <div nr="" class="conversation-entry-bot__wrap">
                     <div nr="" class="conversation-entry-bot__message">Thank You</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
